.post{
    width:600px;
    border-bottom: solid gray 1px;
    padding-bottom: 10px;
}
.post-p{
    width:100%;
}
.post-button{
    float:right;
}
.box{
    background-color:rgb(250, 151, 151);
    padding-left:10px;
    padding-top:20px;
    width:1075px;
    color:black;
    text-decoration: none;
    width:100%;
    margin-bottom:10px
}
header{
height:40px;
background-color: #C9FFC3;
font-family: normal;
font-size: 12px;
}
body{
    background-color: rgb(67, 130, 247);
}
dt{
    float:left;
    clear:both;
}
dd{

}